# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists, including those relevant to IBM, include:
1. Pandas
2. NumPy
3. Scikit-learn
4. IBM-Watson-Machine-Learning
5. Pyspark

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

* List popular languages for Data Science
* Commonly used Data Science libraries
* Data Science tools
* Jupyter architecture

## AuthorAnna Nikie